
.left_Sidebar_Area{
    width:30%;
   margin: 12px 12px;
   justify-content: flex-start;
    
}
.Search{
    display: flex;
    align-items: center;
    background-color: #E7EBEF;
    width:80%;
    height: 3rem;
    border-radius: 25px;
    padding-left: 1rem;
}
input[type="Search"]{
    border:none;
    background-color: #E7EBEF;
}
.Container{
    background-color: #E7EBEF;
    width: 80%;
    height: 40rem;
    border-radius: 25px;
}
.Trends{
    display: flex;
    justify-content: space-between;
    height: 1.6rem;
    padding:1rem;
    border-bottom: 1px grey solid;
}
.Trends_4u{
    font-size: 1.3rem;
    font-weight: 700;
}
.Trending_worldwide{
    border-bottom: 1px grey solid;
    padding-left: 1rem;
    height: 7rem;
    align-items: center;
}
.Trending_worldwide > div {
    margin: 6px 0;
}

.Trending_show{
    font-size: 1rem;
    color: lightslategray;
}
.tag{
    font-size: 1.1rem;
    font-weight: 700;
}
.spark_people{
    font-size: 1rem;
    color: lightslategray
}
.sparks{
    font-size: 1rem;
    color:lightslategray
}

@media screen and (max-width: 600px) {
    .left_Sidebar_Area {
     display: none;
    }
  }